body {
   background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}
.card {
   min-width: 200px;
   max-width: 500px;
   margin: auto;
   margin-top: 150px;
   padding: 40px;
   text-align: center;
}
.btn-large {
   margin-top: 70px;
}
